{% extends getPartial('page-design') %}

{% import "Ceres::PageDesign.Macros.LayoutContainer" as LayoutContainer %}

{% set showDefaultHomepage = config("Ceres.default.homepage") %}

{% block PartialHead %}
    {% embed getPartial('page-metadata') %}
        {% block description    trans('Ceres::Template.homepageMetaDescription') %}
        {% block robots         ceresConfig.meta.robotsHome %}
    {% endembed %}
{% endblock %}

{% block PageBody %}

    {% set shopBuilderTemplate = "" %}
    {% if category is defined and category is not null %}
        {# get shopbuilder template for category if defined #}
        {% set shopBuilderTemplate = shop_builder_category_template(category.id) %}
    {% endif %}

    {% if shopBuilderTemplate | trim is not empty %}
        {# show shopbuilder content for homepage category #}
        <div class="container-max">
            <div class="row">
                <div class="col">
                    {{ shopBuilderTemplate | raw }}
                </div>
            </div>
        </div>
    {% else %}
        {% set overrideHomepage = LayoutContainer.show("Ceres::Homepage") %}
        {% if overrideHomepage | trim is not empty %}
            {# Show contents for container Ceres::Homepage #}
            {{ overrideHomepage }}
        {% else %}
            {# Show default homepage #}
            {% include "Ceres::Homepage.MarketingHomepage.twig" %}
        {% endif %}
    {% endif %}

{% endblock %}
