{% extends getPartial('page-design') %}

{% block PartialHead %}
    {% embed getPartial('page-metadata') %}
        {% block title trans("Ceres::Template.login") %}
    {% endembed %}
{% endblock %}

{% block PageBody %}
    <div id="LoginPage_Login">
      <login
              backlink="{{ request.get("backlink") | default("") }}"
              has-to-forward="true">
      </login>
    </div>
    <div id="LoginPage_Register">
      <h2>Noch kein Kunde?</h2>
      <hr>
      Du erhälst in deinem persönlichen "Mein Konto"-Bereich jederzeit Zugriff auf deine Bestellungen sowie deine Kundendaten.<br>
      <br>
      Als Gast bestellst du ohne Registrierung. Bei weiteren Bestellungen musst du deine Daten erneut eingeben.
    </div>
{% endblock %}
