{% import "Ceres::PageDesign.Macros.LayoutContainer" as LayoutContainer %}
{{ component( "Ceres::ItemList.Components.ItemLazyImg" ) }}
{{ component( "Ceres::Components.common.LazyImg" ) }}

{% set topButtonPosition = config('Ceres.footer.to_top_button') %}
{% set lang = services.sessionStorage.getLang() %}

{% set footerContainer = LayoutContainer.show("Ceres::Footer") | trim %}
    <div class="{% if topButtonPosition == "right" %}back-to-top{% else %}back-to-top-center{% endif %}">
        <i class="fa fa-chevron-up"></i>
    </div>

    <div class="footerETC col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div class="container_centered">

      </div>
    </div>
    <div id="copyright" class="col-lg-12">
      <div class="container_centered">
        {{ trans("ETCeres::Template.ETC_Copyright") | raw }}
      </div>
    </div>
