{% import "Ceres::PageDesign.Macros.LayoutContainer" as LayoutContainer %}
{{ component( "Ceres::ItemList.Components.ItemLazyImg" ) }}
{{ component( "Ceres::Components.common.LazyImg" ) }}

{% set topButtonPosition = config('Ceres.footer.to_top_button') %}
{% set lang = services.sessionStorage.getLang() %}

{% set footerContainer = LayoutContainer.show("Ceres::Footer") | trim %}
    <div class="{% if topButtonPosition == "right" %}back-to-top{% else %}back-to-top-center{% endif %}">
        <i class="fa fa-chevron-up"></i>
    </div>

    <div class="preFooter col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div class="container_centered">
        <div class="preFooterLogo_Container">
          <img class="preFooterLogo" src="https://cdn02.plentymarkets.com/9krpwzxa6mmo/frontend/shop_res/base/etc-logo_dunkel.png">
        </div>
        <div class="preFooterSocial_Container">
          <div class="preFooter_SocialMedia_Text">Folgt uns auf</div>
          <img class="preFooter_Facebook" src="https://cdn02.plentymarkets.com/9krpwzxa6mmo/frontend/shop_res/base/facebook.png">
          <img class="preFooter_Insta" src="https://cdn02.plentymarkets.com/9krpwzxa6mmo/frontend/shop_res/base/instagram.png">
        </div>
        <div class="preFooterLang_Container">
          <div class="preFooter_LangText">DE</div>
          <img class="preFooter_LangDE" src="https://cdn02.plentymarkets.com/9krpwzxa6mmo/frontend/shop_res/base/flagge_DE.png">
          <img class="preFooter_LangEN" src="https://cdn02.plentymarkets.com/9krpwzxa6mmo/frontend/shop_res/base/flagge_UK_dark.png">
          <img class="preFooter_LangFR" src="https://cdn02.plentymarkets.com/9krpwzxa6mmo/frontend/shop_res/base/flagge_FR_dark.png">
        </div>
      </div>
    </div>
    <div class="footerETC col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div class="container_centered">
        <div class="footer1 footerBox">
          <h2>Informationen</h2>
          <a href="#">Retourenportal</a><br>
          <a href="#">Kontakt</a><br>
          <a href="#">Zahlung</a><br>
          <a href="#">Unternehmen</a><br>
          <a href="#">Stellenangebot</a><br>
          <br>
          <a href="#">AGB</a><br>
          <a href="#">Widerrufsrecht</a><br>
          <a href="#">Datenschutz</a><br>
          <a href="#">Impressum</a><br>
          <a href="#">Entsorgungshinweise</a><br>
        </div>
        <div class="footer2 footerBox">
          <div class="footer21 footerSubBox">
            <h2>Produkberatung &amp; Support</h2>
            <b>+49 (0)2692 9338380</b><br>
            Montag bis Donnerstag 08:00 - 17:00 Uhr<br>
            Freitag 08:00 - 14:00 Uhr
          </div>
          <div class="footer22 footerSubBox">
            <h2>Partner</h2>
              <div class="footer22Box_left">Meine Lampe</div>
              <div class="footer22Box_right"><img src="https://cdn02.plentymarkets.com/9krpwzxa6mmo/frontend/shop_res/base/meinelampe_logo_hell.png"></div>
          </div>
        </div>
        <div class="footer3 footerBox">
          <div class="footer31 footerSubBox">
            <h2>Newsletter</h2>
            <div class="footerNewsletterBox">
              <div class="footer31Box_left">5&euro;</div>
              <div class="footer31Box_right">
                5 EUR Gutschein für Ihre<br>
                Newsletter Anmeldung
              </div>
            </div>
          </div>
          <div class="footer32 footerSubBox">
            <h2>Sicherheit</h2>
              <div class="footer32Box_left"><img src="https://cdn02.plentymarkets.com/9krpwzxa6mmo/frontend/shop_res/base/TrustedShopsLogo.png"></div>
              <div class="footer32Box_right">
                Zertifizierter Shop + Käuferschutz<br>
                von Trusted Shops
              </div>
          </div>
        </div>
        <div class="footer4 footerBox">
          <h2>Zahlungsarten</h2>
          <a href="www.etc-shop.de">
            <div class="footer4Box1_left"><img src="https://cdn02.plentymarkets.com/9krpwzxa6mmo/frontend/shop_res/base/icon_pay_paypal.png"></div>
            <div class="footer4Box1_right">PayPal</div>
          </a>

          <a href="www.etc-shop.de">
            <div class="footer4Box2_left"><img src="https://cdn02.plentymarkets.com/9krpwzxa6mmo/frontend/shop_res/base/icon_pay_lastschrift.png"></div>
            <div class="footer4Box2_right">Lastschrift</div>
          </a>

          <a href="www.etc-shop.de">
            <div class="footer4Box3_left"><img src="https://cdn02.plentymarkets.com/9krpwzxa6mmo/frontend/shop_res/base/icon_pay_kreditkarte.png"></div>
            <div class="footer4Box3_right">Kreditkarte</div>
          </a>

          <a href="www.etc-shop.de">
            <div class="footer4Box4_left"><img src="https://cdn02.plentymarkets.com/9krpwzxa6mmo/frontend/shop_res/base/icon_pay_rechnung.png"></div>
            <div class="footer4Box4_right">Kauf auf Rechnung</div>
          </a>

          <a href="www.etc-shop.de">
            <div class="footer4Box5_left"><img src="https://cdn02.plentymarkets.com/9krpwzxa6mmo/frontend/shop_res/base/icon_pay_amazon-pay.png"></div>
            <div class="footer4Box5_right">Amazon Pay</div>
          </a>

          <a href="www.etc-shop.de">
            <div class="footer4Box6_left"><img src="https://cdn02.plentymarkets.com/9krpwzxa6mmo/frontend/shop_res/base/icon_pay_barzahlung.png"></div>
            <div class="footer4Box6_right">Barzahlung</div>
          </a>

          <a href="www.etc-shop.de">
            <div class="footer4Box7_left"><img src="https://cdn02.plentymarkets.com/9krpwzxa6mmo/frontend/shop_res/base/icon_pay_sofort.png"></div>
            <div class="footer4Box7_right">Sofort (Überweisung)</div>
          </a>

          <a href="www.etc-shop.de">
            <div class="footer4Box8_left"><img src="https://cdn02.plentymarkets.com/9krpwzxa6mmo/frontend/shop_res/base/icon_pay_ueberweisung.png"></div>
            <div class="footer4Box8_right">Überweisung</div>
          </a>

          <a href="www.etc-shop.de">
            <div class="footer4Box9_left"><img src="https://cdn02.plentymarkets.com/9krpwzxa6mmo/frontend/shop_res/base/icon_pay_easycredit.png"></div>
            <div class="footer4Box9_right">Ratenkauf by EasyCredit</div>
          </a>

        </div>
        <div class="footer5 footerBox">
          <div class="footer51 footerSubBox">
            <h2>Mein Konto</h2>
            <a href="#">Login</a><br>
            <a href="#">Registrieren</a><br>
            <a href="#">Warenkorb</a><br>
            <a href="#">Merkliste</a><br>
          </div>
          <div class="footer52 footerSubBox">
            <h2>Bewertungen</h2>
            <script src="https://apis.google.com/js/platform.js?onload=renderBadge" async defer></script>
            <script>
              window.renderBadge = function() {
                var ratingBadgeContainer = document.createElement("div");
                document.body.appendChild(ratingBadgeContainer);
                window.gapi.load('ratingbadge', function() {
                  window.gapi.ratingbadge.render(ratingBadgeContainer, {"merchant_id": 1340904});
                });
              }
            </script>
          </div>
        </div>
        <div id="copyright" class="col-lg-12">
          <div class="container_centered">
            {{ trans("ETCeres::Template.ETC_Copyright") | raw }}
          </div>
        </div>
      </div>
    </div>
