<script type="x/template" id="vue-category-itemETC">
<div id="test0731">TESTTESTTEST1</div>
    <article class="cmp cmp-product-thumb TEST0721">
        <div :class="paddingClasses" :style="paddingInlineStyles">


            <!-- ITEM DETAILS -->
            <slot name="item-details">

            </slot>
            <!-- ./ITEM DETAILS  -->
        </div>
    </article>
</script>
