<script type="x/template" id="vue-category-itemETC">
<div id="test0731">TESTTESTTEST1
    <article class="cmp cmp-product-thumb TEST0721">
        <div :class="paddingClasses" :style="paddingInlineStyles">

        <div class="thumb-image">
            <div class="prop-1-1">
                <slot name="item-image">
                    <category-image-carousel :image-urls-data="item.images | itemImages(imageUrlAccessor)"
                                            :alt-text="item | itemName"
                                            :title-text="item | itemName"
                                            :item-url="item | itemURL(urlWithVariationId)"
                                            :enable-carousel="$ceres.config.item.enableImageCarousel"
                                            :disable-carousel-on-mobile="disableCarouselOnMobile"
                                            ref="categoryImageCarousel">
                    </category-image-carousel>
                </slot>
            </div>
        </div>
        </div>
    </article>
    </div>
</script>
