<script type="x/template" id="vue-category-itemETC">
  <article class="cmp cmp-product-thumb TEST0721">
      <div :class="paddingClasses" :style="paddingInlineStyles">
              {{ item.texts.name1 }}
          <a :href="item | itemURL(urlWithVariationId)" class="thumb-title small" :class="{ 'stretched-link': $ceres.config.global.shippingCostsCategoryId == 0 }">

          </a>
        <div class="thumb-image">
            <div class="prop-1-1">
                <slot name="item-image">
                    <category-image-carousel :image-urls-data="item.images | itemImages(imageUrlAccessor)"
                                            :alt-text="item | itemName"
                                            :title-text="item | itemName"
                                            :item-url="item | itemURL(urlWithVariationId)"
                                            :enable-carousel="$ceres.config.item.enableImageCarousel"
                                            :disable-carousel-on-mobile="disableCarouselOnMobile"
                                            ref="categoryImageCarousel">
                    </category-image-carousel>
                </slot>
            </div>
        </div>



  </article>
</script>
